In [1]:
%load_ext autoreload
%aimport supermariopy
from supermariopy import pandaslib
import pandas as pd

# Example 01: unnest recursive dict structure into pandas Dataframe

In [6]:
dict_ = {"1" : 2, "3" : {"4" : 5, "6" : 7}}
dict_["test"] = dict_.copy()

In [7]:
new_dict = pandaslib.unnest_dict(dict_)
dict_, new_dict

({'1': 2, '3': {'4': 5, '6': 7}, 'test': {'1': 2, '3': {'4': 5, '6': 7}}},
 {'1': 2, '3_4': 5, '3_6': 7, 'test_1': 2, 'test_3_4': 5, 'test_3_6': 7})

In [8]:
pd.DataFrame(dict_).head()

   1    3              test
1  2  NaN                 2
3  2  NaN  {'4': 5, '6': 7}
4  2  5.0               NaN
6  2  7.0               NaN

In [9]:
pd.DataFrame(pandaslib.listify_dict(new_dict))

   1  3_4  3_6  test_1  test_3_4  test_3_6
0  2    5    7       2         5         7